.badge-notify {
    background: gray;
    position: relative;
    top: -20px;
    left: -15px;
}
@media (min-width: 768px) {
    .container {
        max-width: 980px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


a, a:hover, h3, h3 a {
	color: #072d4e
}
#home[class] sup, sup {
	line-height: 1;
	vertical-align: baseline
}
#home[class] #footer div, #postAnAd {
	padding-bottom: 1em;
	font-weight: 700
}
#home[class] #header, #postAnAd, b {
	font-weight: 700
}
#home[class] #navLinkList, #navLinkList {
	text-align: center;
	list-style-type: none
}
#home, body {
	background-color: #fff
}
#home #footer div, #home #header {
	border-bottom: 2px solid #151f28
}
#home .placeFreeAdLink, #home a:hover, #home h3 a, a:hover, h3 a {
	text-decoration: none
}
body {
	font-family: arial, sans-serif;
	font-size: 12.5px;
	text-align: center
}
h3 {
	margin: 0;
	font-size: 14px
}
h3 a:hover {
	color: #666
}
ul {
	margin: 0;
	padding: 0
}
li {
	padding-left: .5em;
	line-height: 1.2
}
.h1link {
	float: none!important;
	color: #000!important;
	cursor: default
}
#postAnAd {
	float: right;
	font-size: 18px
}
.geoUnit li {
	text-transform: capitalize
}
#footer, #home[class] #footer {
	clear: both;
	margin-top: 1em;
	padding-top: 1em
}
#navLinkList {
	margin: 1em 0;
	padding: 0;
	font-size: 12px
}
#home[class] #navLinkList li, #navLinkList li {
	margin: 0;
	padding: 0 .5em;
	display: inline;
	border-right: 1px solid #000
}
#home[class] #navLinkList li:last-child, #navLinkList li:last-child {
	border-right: none
}
#navLinkList a {
	color: #072d4e
}
#home[class] #mainWrapper {
	width: 100%;
	max-width: 980px;
	margin: 0 auto 12px;
	text-align: left
}
#home[class] #header {
	margin-bottom: 1em;
	padding-bottom: .5em
}
#home[class] h1 {
	height: 40px;
	margin: 0 0 .5em;
	padding: 0;
	text-indent: -9999px
}
#home[class] h2 {
	margin: 0;
	font-size: 24px
}
#home[class] h3 {
	margin: 0;
	font-size: 16px
}
#home[class] #footer div {
	font-size: 11px;
	text-align: center
}
#home[class] #navLinkList {
	margin: 1em 0 0;
	padding: 0;
	font-size: 13px
}
#home[class] .newIcon {
	color: #c00
}
#home #navLinkList a, #home #postAnAd a {
	color: #072d4e
}
#home a, #home a:hover {
	color: #072d4e
}
#home[class] ul {
	margin: 0;
	padding: 0
}
#home[class] #geoListings:after, #home[class] #geoListings:before {
	content: "";
	display: table
}
#home[class] #geoListings:after {
	clear: both
}
#home[class] #geoListings {
	zoom: 1;
	position: relative;
	clear: both;
	margin: 0
}
#home[class] .column {
	width: 100%;
	float: left;
	box-sizing: border-box;
	zoom: 1;
	overflow: hidden;
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	padding: 0
}
#home[class] .geoBlock {
	padding: 2px 7px
}
#home[class] .geoBlock .geoUnit {
	min-width: 100%;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-o-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	column-break-inside: avoid;
	page-break-inside: avoid
}
#home[class] .geoBlock h2 {
	max-width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
#home[class] .geoBlock .inner {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3
}
#home[class] .africa.geoBlock .inner {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2
}
@media (max-width:860px) {
#home[class] .geoBlock .inner {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2
}
}
@media (max-width:600px) {
#home[class] .column {
	width: 100%
}
#home[class] .geoBlock .inner {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3
}
}
@media screen and (max-width:500px) {
#home[class] .geoUnit h3 {
	padding-bottom: 2px
}
#home[class] .geoUnit li {
	font-size: 15px;
	padding-top: 7px
}
#home[class] .geoUnit {
	padding-bottom: 3px
}
#home[class] #navLinkList li {
	font-size: 15px;
	line-height: 25px;
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 8px
}
}
@media (max-width:480px) {
#home[class] .geoBlock .inner.showing {
	display: block
}
#home[class] .geoBlock .inner {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	padding: 8px 4px
}
#home[class] .geoBlock h2 {
	margin-top: 2px;
	margin-bottom: 2px
}
}
@media (max-width:310px) {
#home[class] .geoBlock .inner {
	-webkit-column-count: auto;
	-moz-column-count: auto;
	column-count: auto
}
}
#home h2#unitedStates {
	display: block
}
#home {
	font-family: 'trebuchet ms', verdana, arial, helvetica, helv, swiss, sans, sans-serif;
	font-size: 14px
}
#home h1 {
	background: url(../images/logo.png) left center no-repeat;
	background-size: contain
}
#home #footer div {
	color: #3563a8
}
#home h3 a {
	color: #c12525;
}
#home h3 a:hover {
	color: #666
}
#home li {
	padding-left: .5em
}
#home .geoUnit {
	overflow: hidden;
	margin-bottom: .75em;
	max-width: 150px
}
#home .h1link {
	float: none;
	color: #000;
	cursor: default
}
#home .column {
	background: #fff
}
#home .geoBlock h2 {
	background-color: #072d4e;
	color: #fff
}
#home[class] .ie7 .geoBlock .inner ul li, #home[class] .ie8 .geoBlock .inner ul li, #home[class] .ie9 .geoBlock .inner ul li {
	padding-left: 1%;
	width: 30%;
	float: left;
	box-sizing: border-box
}
#home[class] .ie7 .column, #home[class] .ie8 .column, #home[class] .ie9 .column {
	width: 49.5%
}
#home[class] .ie9 #geoListings {
	min-width: 400px
}
#home[class] .ie7 #geoListings, #home[class] .ie8 #geoListings {
	min-width: 800px
}
#footer p {
	padding-bottom: 1em;
	font-size: 15px;
	font-weight: normal;
	text-align: center;
}
#footer b {
	font-size: 18px;
}
.floatp {
	float: right;
}
.spnmarg {
	margin-left: 10px
}
.clrclass {
	clear: both;
}
.inline {
	margin-left: 10px
}
a {
	color: #072d4e;
	text-decoration: none;
	--tw-text-opacity: 1;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.75rem; 
	}

h4 {
	color: #072d4e;
	--tw-text-opacity: 1;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.75rem; 
}
.text-primary-600 {
			--tw-text-opacity: 1;
			color: #072d4e;
		}